
@{
    ViewData["Title"] = "WhoAmI";
}

<style>
    .all{
        display:flex;
        flex-direction:column;
        flex:1;
        padding:5%;

        width: 50%;
    }
    .all h1{
        font-size: 3em;
    }

</style>

<div class="all">
    <h1>
        Hello.
    </h1>

    <p>
        I am Ibrahim Taha ŞANLI. I am a Computer Engineering student. Which is, my dream job. I am working hard to make this come true.
    </p>
    <p>
        I have large scope that covers most of computer science subjects. First subjects that comes to my mind are Game development, AI, Embed Systems, Web Development and goes on.
    </p>
    <p>
        My freetimes passes with many many activities like drawing, playibg and listening music, playing video games...
    </p>
    <p>
        If you have any questions don't hesitate to ask. You can reach me via links in <a>this page</a>.
    </p>

</div>
