@{
    ViewData["Title"] = "ReachToMe";
}

<style>
    .all {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 5%;
    }

    .all p {
        font-size: 2em;
    }
</style>

<div class="all">
    <p style="color: #5865f2;">
        Wanna be fast? Then discord: ForNForN#6366
    </p>

    <p style="color: #e34133;">
        Or a mail further: <a style="color: #e34133;" href="mailto:ibrahimtahasanli@gmail.com">ibrahimtahasanli@gmail.com</a>
    </p>
    <p style="color: #0a66c0;">
        Or linkedin: <a style="color: #0a66c0;" href="https://www.linkedin.com/in/ibrahim-taha-%C5%9Fanl%C4%B1-69771a19a">Linkedin</a>
    </p>
    <p>
        Or wanna look at things i pushed when i dont feel lazy: <a href="https://github.com/IbrahimTahaSanli">Github</a>
    </p>

</div>

