<style>
    .top {
        flex-direction: row;
    }

    .theP {
        margin: 0 auto;
        align-self: center;
    }
</style>

<p class="theP">
    Content You Looking For Not Found. Sorry.
</p>